@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to InManSys</h1>
    <a class="btn btn-dark" asp-controller="Dashboard" asp-action="Report">View Dashboard</a>

</div>
